body{
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
}
nav{
    margin: 0 auto;
    width: 80%;
    display: flex;
    background: rgb(91, 190, 91);
    align-items: center;
    justify-content: space-evenly;
}
nav > h3{
    margin-left: 0px;
}
nav > ul{
    display: flex;
    gap: 5px;
    list-style: none;
}
ul li{
    padding: 10px;
    cursor: pointer;
}

.board{
    margin: 0 auto;
    width: 80%;
    height: auto;
    background: blue;
}
.single_card{
    display: flex;
}
.single_card > .img{
    width: 200px;
    height: 200px;
    margin: 0px;
    background: pink;
}