body{
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
nav{
    display: flex;
    background: rgb(91, 190, 91);
}
nav > h3{
    background: blue;
    margin-left: 30px;
}
nav > ul{
    display: flex;
    gap: 5px;
    list-style: none;
}
ul li{
    padding: 10px;
    cursor: pointer;
}